/EJB/EJB.iml
/EJB/EJB.eml
/WebApplication/WebApplication.eml
/WebApplication/WebApplication.iml
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.iml

#conf idea
.idea/
./CARATEST*
.lib/
*.eml
.*/*.iml