<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>UserServlet</servlet-name>
    </servlet>

    <servlet>
        <servlet-name>UserAddServlet</servlet-name>
    </servlet>

    <servlet>
        <servlet-name>UserDelServlet</servlet-name>
    </servlet>

    <servlet>
        <servlet-name>ContratAddServlet</servlet-name>
    </servlet>

    <servlet>
        <servlet-name>ContratDelServlet</servlet-name>
    </servlet>

    <servlet>
        <servlet-name>ContratTypeAddServlet</servlet-name>
    </servlet>

    <servlet>
        <servlet-name>ContratTypeDelServlet</servlet-name>
    </servlet>

    <servlet>
        <servlet-name>AssureContratsServlet</servlet-name>
    </servlet>

    <servlet>
        <servlet-name>AssureStopServlet</servlet-name>
    </servlet>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserAddServlet</servlet-name>
        <url-pattern>/user/add</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserDelServlet</servlet-name>
        <url-pattern>/user/delete</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ContratAddServlet</servlet-name>
        <url-pattern>/contrat/add</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ContratDelServlet</servlet-name>
        <url-pattern>/contrat/delete</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ContratTypeAddServlet</servlet-name>
        <url-pattern>/contrat/type/add</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ContratTypeDelServlet</servlet-name>
        <url-pattern>/contrat/type/delete</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AssureContratsServlet</servlet-name>
        <url-pattern>/assure/contrats</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AssureStopServlet</servlet-name>
        <url-pattern>/assure/stop</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/user/logout</url-pattern>
    </servlet-mapping>

    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>AssurancesREALM</realm-name>
        <form-login-config>
            <form-login-page>/LoginForm.html</form-login-page>
            <form-error-page>/LoginFormError.html</form-error-page>
        </form-login-config>
    </login-config>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Application</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>

        <auth-constraint>
            <role-name>ADMIN</role-name>
            <role-name>COURTIER</role-name>
            <role-name>ASSURE</role-name>
        </auth-constraint>
    </security-constraint>

    <security-role>
        <role-name>ADMIN</role-name>
    </security-role>

    <security-role>
        <role-name>COURTIER</role-name>
    </security-role>

    <security-role>
        <role-name>ASSURE</role-name>
    </security-role>

</web-app>